<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0"/>
  <meta name="viewport" content="target-densitydpi=device-dpi"/>
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="css/library.min.css">
  <link type="text/css" rel="stylesheet" href="css/dimbot-production.min.css">
</head>
<body>
  <main id="fullpage">
  <section id="p1" class="panel panel-cover">
    <div class="choose-side">
      <div class="header-title text-center">
        <img src="img/star-wars-logo.png" alt="logo"/>
        <h1>
          <span class="line-core left"></span>
          <span>Choose your Path</span>
          <span class="line-core right"></span>
        </h1>
      </div>
      <div class="light-side">
        <a class="votes" href="#"><img class="crest" alt="" src="img/Alliance_logo.png"></a>
        <div class="face" style="background-image:url('img/light-face.png');"></div>
      </div>
      <div class="dark-side" data-parallaxify-range-x="15">
        <a class="votes" href="#"><img class="crest" alt="" src="img/Empire_logo.png"></a>
        <div class="face" style="background-image:url('img/dark-face.png');"></div>
      </div>
    </div>
  </section>
  <section id="p2" class="panel panel-slide panel-cover">
    <div class="fp-slide slide">
      <div class="panel-bg" style="background-image:url('img/bg/desert.jpg');"></div>
      <div class="panel-cover-text text-center">
        <blockquote class="panel-cover-blockquote">
          “I'm no one.”
          <cite class="panel-cover-cite">Rey</cite>
        </blockquote>
      </div>
    </div>
    <div class="fp-slide slide">
      <div class="panel-bg" style="background-image:url('img/bg/starwars-darkside.jpg');"></div>
      <div class="panel-cover-text text-center">
        <blockquote class="panel-cover-blockquote">
          “Nothing will stand in our way, I will finish what you started. ”
          <cite class="panel-cover-cite">Kylo Ren</cite>
        </blockquote>
      </div>
    </div>
  </section>
  <section id="p3" class="panel panel-cover">
    <div class="panel-bg" style="background-image:url('http://dimbot.dev/theme/Dimbot/img/bg/bg2.jpg');"></div>
    <div class="panel-cover-text text-center">
      <img src="img/star-wars-logo.png" alt=""/>
      <h5>In Theaters December</h5>
    </div>
  </section>
  </main>
  <script type="text/javascript" src="js/libs/jquery-2.0.2.min.js"></script>
  <script type="text/javascript" src="js/libs/jquery-ui.min.js"></script>
  <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/main.min.js"></script>
  <script type="text/javascript" src="js/plugin/reveal/scrollreveal.min.js"></script>
  <script type="text/javascript" src="js/plugin/fullpage/jquery.fullPage.min.js"></script>
</body>
</html>
